mixin btn-tabs(btnModSizeClass, btnModColorClass1, btnText, btnModColorClass3)
    a(href="#").btn(class=btnModSizeClass)
        div.btn__section-1(class=btnModColorClass1)
            p.btn__text #{btnText}        
        div.btn__section-3(class=btnModColorClass3)
            p.btn__text #{btnText}