mixin btn-sizes(btnModSizeClass, btnModColorClass1, btnText1, btnModColorClass2, btnText2, btnModColorClass3, btnText3)
    a(href="#").btn(class=btnModSizeClass)
        div.btn__section-1(class=btnModColorClass1)
            p.btn__text #{btnText1}
        div.btn__section-2(class=btnModColorClass2)
            p.btn__text #{btnText2}        
        div.btn__section-3(class=btnModColorClass3)
            p.btn__text #{btnText3}