mixin btn-mix(btnModSizeClass, btnModColorClass1, btnImgModClass, btnImg1, btnModColorClass2, btnImgModClass, btnImg2, btnModColorClass3, btnImgModClass, btnImg3)
    a(href="#").btn(class=btnModSizeClass)
        div.btn__section-1(class=btnModColorClass1)
            img.btn__img(class=btnImgModClass)&attributes(btnImg1)
        div.btn__section-2(class=btnModColorClass2)
            img.btn__img(class=btnImgModClass)&attributes(btnImg2)
        div.btn__section-3(class=btnModColorClass3)
            img.btn__img(class=btnImgModClass)&attributes(btnImg3)